/* Section About */
.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #ebebeb;
	padding: 2rem 15% 6rem 15%;

	&__img {
		
		width: 25rem;
		height: 25rem;
		border-radius: 50%;
		object-fit: cover;
		
	}

	&__desc {
		width: 50%;
		font-size: 1.25rem;
	}

	&__underline {
		border-bottom: 5px solid #5dccff;
	}

	&__cta {
		font-size: 1.5rem;
	}
}

.about .heading {
	width: 100%;
	color: #00154e;
}
.about .button {
	color: #00154e;
	background-color: #f3740c;
	font-weight: 500;
}
