/* Header */
.header {
	display:flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	height: 100vh;
	color: #e8e8e8;
	background-image: url("../img/wallpaper-desktop.png");
	background-color: #333232;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 50em 4em #000;
	text-align: center;
	margin-top: 9vh;
	
	

	&__title {
		font-size: 3rem;
		font-weight: normal;
		margin: 3.5em 0 1em 0;
	
	}

	&__desc {
		font-size: 1.5rem;
		font-weight: normal;
		margin-top: 0;
	}

	&__link {
		color: #f3740c;
		border-bottom: 5px solid #ebebeb;
		font-weight: bold;
		text-decoration: none;

		&:hover {
			opacity: 0.8;
		}
	}
}

/* Section */
.heading {
	font-size: 5rem;
	text-align: center;
	text-transform: uppercase;
}

.button {
	color: #ffffff;
	background-color: #f3740c#00154e;
	border-radius: 0.5rem;
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.5);
	font-size: 1.25rem;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	padding: 0.5rem 3rem;

	&:hover {
		box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
	}
}
