/* Header */
.header {
	height: 80vh;
	color: #ebebeb;
	background-image: url("/../img/cyan_wallpaper.jpg");
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 20em 7em #000;
	text-align: center;
	margin-top: 20vh;
	padding-top: 10rem;

	&__title {
		font-size: 4rem;
		font-weight: normal;
		margin-bottom: 0;
	}

	&__desc {
		font-size: 3rem;
		font-weight: normal;
		margin-top: 0;
	}

	&__link {
		color: #f3740c;
		border-bottom: 5px solid #ebebeb;
		font-weight: bold;
		text-decoration: none;

		&:hover {
			opacity: 0.8;
		}
	}
}

/* Section */
.heading {
	font-size: 5rem;
	text-align: center;
	text-transform: uppercase;
}

.button {
	color: #ffffff;
	background-color: #f3740c#00154e;
	border-radius: 0.5rem;
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.5);
	font-size: 1.25rem;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	padding: 0.5rem 3rem;

	&:hover {
		box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
	}
}
