@import "variables";

.hero {
	padding: ($gap * 3) ($gap);
	background-color: $color-white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: $color-primary;
	transition: opacity $transition;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 40rem;
	position: relative;
	overflow: hidden;

	@include mq(768px) {
		justify-content: flex-start;
		min-height: 40rem;
	}

	&:after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba($color-black, 0.2);
		background-image: url("../img/hero/doodles.webp");
		background-size: cover;
		background-position: center;
		animation: heroBgPulse 20s infinite ease-in-out;
	}
}

.hero__img {
	position: absolute;
	max-height: 35rem;
	height: 100%;
	width: auto;
	bottom: 0;
	right: 15%;
	z-index: 2;
	object-fit: contain;
	object-position: bottom right;

	@include mq(768px) {
		width: 80%;
		right: 0;
		max-height: 17rem;
	}
}

.hero__wrap {
	z-index: 10;
	text-align: center;
}

.hero__title {
	text-align: left;
	font-size: 3.5rem;
}

.hero__promo {
	text-align: left;
	margin-top: ($gap * 2);
	color: $color-primary;
	font-size: 1.8rem;
	max-width: 65rem;

	&:last-child {
		margin-bottom: 0;
	}

	@include mq(768px) {
		font-size: 1.6rem;
	}
}

.hero__info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;

	div {
		padding-left: ($gap);
		padding-right: ($gap);
		margin-top: ($gap);
	}
}

#js-hero-content {
	animation: fadeInHero 2s;
	z-index: 5;
	position: relative;
	margin-top: $gap * 2;
}

@keyframes fadeInHero {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes heroBgPulse {
	0% {
		transform: scale(1);
		opacity: 0.25;
	}
	50% {
		transform: scale(1.5);
		opacity: 0.1;
	}
	100% {
		transform: scale(2);
		opacity: 0.05;
	}
}
