@import "variables";

.hero {
	padding: ($gap * 3) ($gap);
	background-color: $color-white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: $color-secondary;
	transition: background $transition, opacity $transition;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 40rem;
	position: relative;
	overflow: hidden;

	@include mq(768px) {
		justify-content: flex-start;
		min-height: 35rem;
	}

	&:after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba($color-black, 0.3);
		background-image: url("../img/hero/doodles.webp");
		background-size: cover;
		background-position: center;
		opacity: 0.5;
		animation: heroBgPulse 15s infinite ease-in-out;
	}
}

.hero__img {
	position: absolute;
	max-height: 90%;
	height: 100%;
	width: auto;
	bottom: 0;
	right: 20%;
	z-index: 2;
	object-fit: contain;
	object-position: bottom right;

	@include mq(768px) {
		width: 80%;
		right: 10%;
		max-height: 20rem;
	}
}

.hero__wrap {
	z-index: 10;
	text-align: center;
}

.hero__title {
	text-align: left;
	font-size: 3.5rem;

	@include mq(768px) {
		font-size: 2rem;
	}
}

.hero__promo {
	text-align: left;
	margin-top: ($gap * 2);

	font-size: 1.2rem;

	&:last-child {
		margin-bottom: 0;
	}

	@include mq(768px) {
		font-size: 1rem;
	}
}

.hero__info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;

	div {
		padding-left: ($gap);
		padding-right: ($gap);
		margin-top: ($gap);
	}
}

#js-hero-content {
	animation: fadeInHero 2s;
	z-index: 5;
	position: relative;
	margin-top: $gap * 2;
	text-shadow: $color-black 2px 2px 1px;
}

@keyframes fadeInHero {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes heroBgPulse {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
}
