/* Section Portfolio */
.portfolio {
	background-color: #00154e;
	padding: 2rem 15% 6rem 15%;

	.heading {
		color: #ffffff;
		padding: 0.5em 0;
		@include mq(1225px) {
			font-size: 3rem;
		}
		@include mq(1025px) {
			font-size: 2.5rem;
		}
		@include mq(768px) {
			font-size: 2rem;
		}
	}
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2em;

		@include mq(1225px) {
			grid-template-columns: 1fr 1fr;
		}
		@include mq(768px) {
			grid-template-columns: 1fr;
		}
	}
}
