@import "variables";

/* Section Process */
.process {
	background-color: #ebebeb;
	padding-top: 4.5rem;

	&__quote {
		text-align: center;
		margin: 0rem 2rem 10rem 2rem;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		color: $color-white;
		background-color: $color-primary;
		padding: 6rem 15% 3rem 15%;

		row-gap: 8rem;
		@include mq(1225px) {
			padding: 5rem 12% 2.5rem 12%;
		}
		@include mq(1025px) {
			padding: 4rem 10% 2rem 10%;
		}
		@include mq(768px) {
			padding: 3rem 5% 1.7rem 5%;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 20%;
		font-size: 1.25rem;
		text-align: center;
		position: relative;

		@include mq(1225px) {
			font-size: 1.2rem;
			width: 45%;
		}
	}

	&__circle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 8rem;
		height: 8rem;
		background-color: #ebebeb;
		color: #232323;
		border-radius: 100%;
		position: absolute;
		top: -10rem;
		@include mq(1225px) {
			width: 6rem;
			height: 6rem;
			top: -8rem;
		}

		i {
			font-size: 2.5em;
			animation: processPulse 10s infinite;
		}
	}

	&__title {
		color: #f3740c;
		font-size: 1.75rem;
		font-weight: 800;
	}
}

@keyframes processPulse {
	0%,
	100% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
}
