/* Section Skills */
.skills {
	padding: 4rem 15% 4rem 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills .heading {
	color: #00154e;
}

.skill {
	&__container {
		display: grid;
		width: 100%;
		grid-template-columns: 32% 32% 32%;
		grid-template-rows: 30% 30% 30%;
		justify-content: center;
		gap: 10px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		font-size: 1.75rem;
		margin-bottom: 1rem;
	}

	&__label {
		width: 100%;
		color: #ffffff;
		background-color: #232323;
		text-align: center;
		font-size: 1.5em;
		padding: 0.65rem;
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		max-width: 100%;
		height: 200px;

		img {
			width: auto;
			height: 5em;
			transition: 0.5s;

			&:hover {
				transform: scale(1.2) rotate(-5deg);
				transition: 0.5s;
			}
		}
	}
}
